button {
    border: 1px solid yellow;
    padding: 1em;
    border-radius: 1em;
    width: 100%;
}

button:hover{
    background-color: white;
    color: black;
}

button.darkmode {
    background: black;
    color: white;
}
button.lightmode {
    background: blue;
    color: yellow;
}
