button {
    background-color: black;
    border: 1px solid yellow;
    padding: 1em;
    border-radius: 1em;
    color: white;
    width: 100%;
}

button:hover{
    background-color: white;
    color: black;
}
